<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->

<p><%= @question %><p>
<p><em>-You</em><p>
<br>

<div style="background-color: #f4f78b; padding: 10px">
  <p><strong><%= @answer %></strong><p>
  <p><em>-Your Coach</em><p>
</div>






<!--   if your_message == "I am going to work right now!"
    return ""
  elsif your_message.end_with?("?")
    return "Silly question, get dressed and go to work!"
  else
    return "I don't care, get dressed and go to work!"
  end -->
