

<br><br>

<div class="container w-50">
  <h2>Stupid Coaching</h2>
  <p>Ask your coach anything...</p>
  <form class="form-inline" action="/answer" method="get">
    <input class="form-control ml-auto mr-0 w-75" type="text" name="question" placeholder="What do you want to say to Coach?">
    <input type="submit" class="btn btn-primary mr-auto ml-0 w-25">
  </form>
</div>
